@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

* {
    font-family: 'DM Mono', monospace;
}

.container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.purchase-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
}

.purchase-card > .show-grid {
    padding-bottom: 1.5em;
}

.price-strike {
    text-decoration: line-through;
    color: gray;
}
